---
import World from './icons/World.astro'
---

<header id="header">
  <div class="nav-container">
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <!-- <div class="language-container">
    <World />
    <select>
      <option value="en">EN</option>
      <option value="es">ES</option>
    </select>
  </div> -->
</header>

<style>
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
  }
  .scroll {
    width: max-content;
    position: fixed;
    margin: 20px 0;
    padding: 10px 30px;
    background-color: #adadad9f;
    border-radius: 40px;
    z-index: 1000;
  }
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 50px;
  }
  li {
    font-size: 1.1rem;
  }
  a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    padding-bottom: 5px;
    color: #d768ff;
  }
  .language-container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 20px;
  }
  select {
    padding: 5px 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
  option {
    background: #000;
    border: none;
    outline: none;
  }
</style>

<script>
  const header = document.querySelector('#header')

  document.addEventListener('scroll', () => {
    if (window.scrollY > 0) {
      header.classList.add('scroll')
    } else {
      header.classList.remove('scroll')
    }
  })
</script>
